ion-row {
    .quote-title {
        padding: 0 0.2rem;
        font-size: 1.2rem;
    }
    .quote-count {
        padding: 0.2rem;
        color: gray;
        font-size: 0.8rem;
    }
    ion-col {
        .icon-fowrard {
            float: right;
            color: lightgray;
            font-size: 1.5rem;
        }
    }
}
