<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" style="height: 100%;">
          <ion-menu-button>
          </ion-menu-button>
      </ion-buttons>
    <ion-title>favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-sliding *ngFor="let quote of quotes">
      <ion-item color="primary" (click)="presentModal(quote)">
          <ion-grid>
              <ion-row>
                  <div class="author">{{quote.person}}</div>
              </ion-row>
              <ion-row>
                  <div class="quote">{{quote.text}}</div>
              </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-button color="danger" (click)="unfavorite(quote)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item-options>
  </ion-item-sliding>
</ion-content>
